.App {
  font-family: "Lato", sans-serif;
  background-color: #e4e3e9;
}

.App-header {
  padding: 20px;
  text-align: center;
}

.App-logo {
  max-width: 300px;
}

.App-welcome-text {
  font-weight: bold;
  font-size: 30px;
  color: grey;
}

.App-footer {
  font-size: 13px;
  text-align: center;
  padding: 10px;
}
