.App {
  font-family: "Lato", sans-serif;
  background-color: #22295f;
}

.App-header {
  padding: 20px;
  text-align: center;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App-welcome-text {
  font-weight: bold;
  font-size: 30px;
  color: grey;
}

.App-footer {
  font-size: 13px;
  text-align: center;
  padding: 10px;
  color: #ced4da;
}

.App-footer a {
  color: #05aeb9;
}
