.Dictionary {
  font-family: "Lato", sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

.Dictionary section {
  text-align: justify;
  font-family: "Lato", sans-serif;
  background: #f1f0f7;
  border: 0px;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 10px 5px 20px 5px;
  color: #222960;
  box-shadow: 0px 10px 10px #110257;
}

.Dictionary .dictionary-instructions {
  font-weight: bold;
}

.Dictionary .suggested-words {
  font-size: 12px;
  color: grey;
}

input {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 8px 0px;
  padding: 6px 10px;
  color: grey;
}
