.Dictionary {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.Dictionary .text-instructions {
  color: #ced4da;
}

input {
  width: 50%;
  border-radius: 7px;
  text-align: center;
  margin: 8px 0px;
}
