.Phonetics {
  color: #05aeb9;
  margin: 10px 5px;
  font-weight: bold;
  font-size: 17px;
}

.Phonetics img {
  max-height: 20px;
}

.Phonetics a {
  border: 1px solid #05aeb9;
  border-radius: 15px;
  color: #05aeb9;
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background: #05aeb9;
  color: #22295f;
}
